# pandas.DataFrame.to_csv
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [1]:
import pandas as pd

## 1. pandas.DataFrame.to_csv
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [2]:
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})

df

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [3]:
df.to_csv(index=False)

'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

In [5]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')

In [6]:
df.to_csv('out.zip', index=False,
          compression=compression_opts)

### 1-1. My test

In [11]:
df.to_csv('my_test-1.csv')
df.to_csv('my_test-2.csv', index=False)

In [12]:
df_mytest_1 = pd.read_csv('my_test-1.csv')
df_mytest_2 = pd.read_csv('my_test-2.csv')

df_mytest_1

   Unnamed: 0       name    mask    weapon
0           0    Raphael     red       sai
1           1  Donatello  purple  bo staff

In [13]:
df_mytest_2

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [14]:
df

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

## 2. 將 Pandas DataFrame 寫入 CSV
https://www.delftstack.com/zh-tw/howto/python-pandas/write-a-pandas-dataframe-to-csv/

### 2-1. 使用 pandas.DataFrame.to_csv() 函式將 DataFrame 寫入 CSV 檔案

In [15]:
import pandas as pd

mid_term_marks = {"Student": ["Kamal", "Arun", "David", "Thomas", "Steven"],
                  "Economics": [10, 8, 6, 5, 8],
                  "Fine Arts": [7, 8, 5, 9, 6],
                  "Mathematics": [7, 3, 5, 8, 5]}


mid_term_marks_df = pd.DataFrame(mid_term_marks)

print(mid_term_marks_df)

  Student  Economics  Fine Arts  Mathematics
0   Kamal         10          7            7
1    Arun          8          8            3
2   David          6          5            5
3  Thomas          5          9            8
4  Steven          8          6            5

In [16]:
mid_term_marks_df

  Student  Economics  Fine Arts  Mathematics
0   Kamal         10          7            7
1    Arun          8          8            3
2   David          6          5            5
3  Thomas          5          9            8
4  Steven          8          6            5

In [17]:
mid_term_marks_df.to_csv("midterm.csv")

### 2-2. 使用 pandas.DataFrame.to_csv() 函式將 DataFrame 寫入 CSV 檔案並忽略索引

In [18]:
mid_term_marks_df.to_csv("midterm_index.csv", index=False)

### 2-3. 在 pandas.DataFrame.to_csv() 函式中指定一個分隔符

In [19]:
mid_term_marks_df.to_csv("midterm_index_sep.csv", index=False, sep="\t")

## 3. Pandas CSV 文件
https://www.runoob.com/pandas/pandas-csv-file.html

In [23]:
import pandas as pd
   
# 三个字段 name, site, age
nme = ["Google", "Runoob", "Taobao", "Wiki"]
st = ["www.google.com", "www.runoob.com", "www.taobao.com", "www.wikipedia.org"]
ag = [90, 40, 80, 98]
   
# 字典
dict_df = {'name': nme, 'site': st, 'age': ag}
     
df = pd.DataFrame(dict_df)
 
# 保存 dataframe
df.to_csv('site.csv')

In [24]:
df

     name               site  age
0  Google     www.google.com   90
1  Runoob     www.runoob.com   40
2  Taobao     www.taobao.com   80
3    Wiki  www.wikipedia.org   98

## 4. ...
https://stylengineer.com/program/python-dataframe-tocsv-guide/

In [21]:
import pandas as pd

csvContent = [['一','二','三'],['四','五','六'],['七','八','九']]
df = pd.DataFrame(csvContent,columns=['第一行','第二行','第三行']) #create dataframe object & input list data
csvPath = 'example.csv' #assign filename
print('start to cave csv',csvPath,'...')
df.to_csv(csvPath,encoding="utf_8_sig")  #save csv file with dataframe object 
print('success!')

start to cave csv example.csv ...
success!

In [22]:
df

  第一行 第二行 第三行
0   一   二   三
1   四   五   六
2   七   八   九